
@model DeweyLMS.Models.ReOrderData

@{
    ViewBag.Title = "Practice";
    @Scripts.Render("~/bundles/jquery")
}

<style>
    #sortable {
        list-style-type: none;
    }
</style>

<script type="text/javascript">

    $(function () {
        $("#successAlert").hide();
        $("#Alert").hide();
 
        $("#sortable").sortable();
        $("#sortable").disableSelection();
        $("#save-view-preferences").click(saveUserPreferenceDetails);
    });

    function saveUserPreferenceDetails() {
      
        var obj = new Object();
        obj.Results = new Array();
        
        $("#sortable li").each(function (index) {
            obj.Results.push($(this).find($(".ItemId")).val())
        });
        
        $.ajax({
            type: 'POST',
            url: '/ReplacingBooks/StartGame',
            data: JSON.stringify(obj),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data, obj) {
                var response = data; 

               
                    console.log(data);
                if (response.PointAwarded) {
                    $("#AwardPoint").text("Success, You got the order correct on your first attempt. You have been awarded a point!");
                    $("#successAlert").show();
                    setTimeout("$('#successAlert').hide()", 5000);
                }

                if (response.Reload) {

                    location.reload();
                }
                if (response.Correct) {
                    $("#AwardPoint").text("Success, You got the order correct but have not been awarded a point!");
                    $("#successAlert").show();
                    setTimeout("$('#successAlert').hide()", 5000);
                } else {
                    $("#result").text("Incorrect Please try again.")
                    $("#attemptno").text("Attempt: " + response.Attempt);
                    $("#Alert").show();
                    setTimeout("$('#Alert').hide()", 5000);

                }
                console.log(data);
            }
        });
    }

</script>

<h2 class="my-3">Sort the Call Numbers</h2>

<p class="my-3">Sort the call numbers below from lowest to highest.</p>

<p id="attemptno">Attempt: 1</p>

<div class="alert alert-success" id="successAlert">
    <p id="AwardPoint"></p>

</div>


<div class="alert alert-danger" id="Alert">
    <p id="result"></p>
    </div>
    <div id="modify-view-elements">
        <ul id="sortable" class="list-group text-center w-25">

            @foreach (SelectListItem s in Model.Options)
            {
                <li class="list-group-item my-1 border">
                    @s.Text
                    @Html.Hidden("Id-" + s.Value, s.Value, new { @class = "ItemId" })
                </li>
            }
        </ul>
    </div>

    <button id="save-view-preferences" class="btn btn-success mt-4">
        Save Changes
    </button>

   