
@model List<string>

@{
    ViewBag.Title = "StartGame";
    int i = 0;
}

   

<h2>StartGame</h2>

@foreach (var callNumber in Model)
{
    i++;


    <div class="row">

        <div class="col">
            <div class="row">

                <div class="col">
                    @i :
                </div>

                <div class="col">
                    <div class="dropdown my-2">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown button
                            
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @foreach (var call in Model)
                            {
                                <a class="dropdown-item">@call</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
            

        </div>

        <div class="col">

            
        </div>

    </div>

}
