@{
    ViewBag.Title = "Home Page";
}

    <div class="container text-center my-5 h-100">

        <div class="row">

            <div class="col">
                @Html.ActionLink("Replacing Books", "Index", "ReplacingBooks", new { area = "" }, new { @class = "btn btn-success my-4" })

            </div>
        </div>

        <div class="row">

            <div class="col">
                @Html.ActionLink("Identifying areas", "Index", "ReplacingBooks", new { area = "" }, new { @class = "btn btn-danger my-4 disabled" })

            </div>
        </div>

        <div class="row">

            <div class="col">
                @Html.ActionLink("Finding Call Numbers", "Index", "ReplacingBooks", new { area = "" }, new { @class = "btn btn-warning disabled my-4" })

            </div>
        </div>





    </div>